body { 
  padding-top: 75px;
  padding-bottom: 76px;
}

.flex {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.highlight {
  color: #4727F6;
  font-size: 200%;
  font-weight: bolder;
}



.page-link {
  cursor: pointer;
}

