.header {
  margin-bottom: auto;
  border-bottom: solid;
  border-bottom-color: white;
  background-color: #bab2b5;
}

.nav-link {
  color: black !important;
}

.btn-success {
  background-color:#bab2b5!important;
  border-color: #bab2b5 !important;
  color: white !important;
  font-weight: bold;
}

/* Change the color of links on hover */
.btn-success:hover {
  background-color: white !important;
  color: black !important;
  transform: scale(1.1);
  transition: color 0.75s;
  transition-property: color;
  transition-duration: 0.75s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition: background-color 0.75s;
  transition-property: background-color;
  transition-duration: 0.75s;
  transition-timing-function: ease;
  transition-delay: 0s;
}
