.header {
  margin-bottom: auto;
  border-bottom: solid;
  border-bottom-color: #4727F6;
  background-color: #0E0B16;
}

.nav-link {
  color: black !important;
}

.btn-success {
  background-color:#0E0B16!important;
  border-color: #0E0B16 !important;
  color: white !important;
  font-weight: bold;
}

/* Change the color of links on hover */
.btn-success:hover {
  background-color: #4717F6 !important;
  color: #fff !important;
  transform: scale(1.1);
  transition: color 0.75s;
  transition-property: color;
  transition-duration: 0.75s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition: background-color 0.75s;
  transition-property: background-color;
  transition-duration: 0.75s;
  transition-timing-function: ease;
  transition-delay: 0s;
}
