.footer {
  /* set text properties */
  background-color: #bab2b5;
  height: 36px;
}
.nav-link {
  /* pull off padding to vertically center links */
  padding: 0 !important;
} 
.navbar {
  /* pull off padding to vertically center links */
  padding: 0 !important;
}