body {
  /* font parameters */
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
 


  /* added padding to prevent navbar overlap. (100 based on browser inpector of size) */
  /* padding-top: 75px; */
}

.navbar {
  /* pulls everything down to push up against bottom border */

}

.nav-link {
  color: black !important;
}
